*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}

.header_container .header_item ul{
    display: flex;
    flex-direction: row;
}
.header_container .header_item ul li{
    padding: 2rem;
    list-style: none;
}
.header_container .header_item ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.search_bar{
    
    border: 2px solid black;
    border-radius: 5px;
   
}
.search_bar input:focus{
    outline: none;
}

.search_bar input{
    height: 40px;
    border: none;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.content .contentImage{
    display: flex;
    flex-direction: row;
    height: 570px;
    flex: 4;
    background-color: #eaeaea ;
    overflow: hidden;
    /* justify-content: center;
    align-items: center; */
}
.content .contentImage .itemimage{
    margin: auto;
}

.contentInfo{
    flex: 2;
    overflow: auto;
    height: 570px;
    
    /* width: 540px; */
    padding: 50px;
    background-color: #F4F4F4;
}
.item{
    padding:20px;
}
.l-text{	
    color: #000000;	
    font-family: "Open Sans";
    font-size: 35px;	
    font-weight: bold;	
    letter-spacing: 0.58px;	
    line-height: 47px;
}
.productdecription{
        margin-top: 20px;
        color: #000000;
        font-family: "Open Sans";
        font-size: 16px;
        letter-spacing: 0.27px;
        line-height: 24px;
}
.m-text{
    margin-top:40px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.73px;
    line-height: 27px;
    }
.colorbox{
    display: flex;
    margin-top: 20px;
    
}
.colorbox div{
    width: 40px;
    height: 40px;
    padding-left: 20px;
    
    border: 1px solid black;
    border-radius: 5px;
}
.sizebox{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.sizebox :first-child{
    background-color: black;
    color: white;
    
}
.sizebox div{
    font-weight: bold;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    padding: 2%;
    margin-right :20px; 
    margin-bottom: 20px;
    text-align: center;
}

.contentInfo button {
    margin-top: 20px;
	height: 69px;
	width: 400px;
	border-radius: 5px;
    background-color: #000000;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.MoreProductInfo{
    display: flex;
    flex-direction: column;
}
.MoreProductInfo p{
        color: #000000;
        font-family: "Open Sans";
        font-size: 16px;
        letter-spacing: 0.27px;
        line-height: 24px;
    }
.s-text{
    margin-top:40px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.73px;
    line-height: 27px;
}