.search_bar input{
    display: none;
}
.header_container .header_item ul li{
    padding: 15px;
    list-style: none;
}
.header_container .header_item ul li a{
       font-size: 15px;
}

.content{
    flex-direction: column;
}
.content .contentImage{
    flex-direction: column;
    height: 200px;
    width: 100%;
}
.content .contentImage .itemimage{
    height: 100%;
    width: 100%;
}
.content{
    height: 100%;
}
.contentInfo h1{
   font-size: 20px;
   margin : auto;
}
.contentInfo button { 
    width: 100%;
    height: 50px;
}

